<div>

  <div class="row mb-2">
    <div class="col-auto">
      <h2 [translate]="'Settings.Lists.StudyProgramRegisterActions.Description'"></h2>
      <p [translate]="'Settings.Lists.StudyProgramRegisterActions.LongDescription'"></p>
    </div>
    <app-table-actions class="pull-right ml-auto pr-3"></app-table-actions>
  </div>


<div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [showMore]="false" [table]="table" [routerSearchState]>
        <!-- <advanced-search> -->
          <!-- <app-advanced-search-form [formSrc]="'assets/tables/StudyProgramRegisterActions/search.list.json'" (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
            [(filter)]="filter.value"></app-advanced-search-form> -->
        <!-- </advanced-search> -->
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row" style="justify-content: space-between;">
    <div class="col-auto mt-3">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Requests.Title'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Requests.TitleSingular'"></span>
      </div>
    </div>
    <div class="col-auto mt-3">

      <div class="" >
        <a *ngIf="recordsTotal > 0" class="btn btn-outline-indigo btn-lg universis-btn-export" href="javascript:void(0)" >
          <span [translate]="'Requests.Export'"></span>
        </a>
      </div>
    </div>
    <div class="col-12 mb-4">
      <app-advanced-table #table [columnOrdering]="true" [autoLoad]="true" [height]="600"
        (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
