<div class="col-12">
  <div class="d-flex mb-3">
    <div class="w-100 align-self-center">
      <h2 [translate]="'ApplicationListTitle'" class="mb-0"></h2>
    </div>
    <ng-container *ngIf="canSelfRegister">
      <div class="flex-shrink-1 align-self-center">
        <a class="btn text-indigo" [routerLink]="['..', 'form', 'self-register']">
          <i class="fas fa-plus-circle" style="font-size:2rem"></i>
        </a>
      </div>
    </ng-container>
  </div>
</div>
<div>

  <ng-template #emptyTemplate>
    <div class="text-center">
      <div class="mt-5">
        <div class="icon-circle bg-gray-300 border-gray-100"></div>
      </div>
      <h4 [translate]="'EmptyListTitle'" class="font-3xl text-dark"></h4>
      <ng-container *ngIf="canSelfRegister">
        <div class="mt-4">
          <a class="font-lg text-indigo" [routerLink]="['..', 'form', 'self-register']" [translate]="'EmptyListLinkMessage'"></a>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <ng-container *ngFor="let item of items">
    <div class="card">
      <div class="card-header bg-gray-100">
        <h4>{{item.studyProgram?.department?.locale?.name || item.studyProgram?.department?.name}}
         <!-- <ng-container *ngIf="item.specialization">
            <span class="text-secondary">({{item.specialization.name}})</span>
          </ng-container>-->
          <h5 class="text-secondary">{{'ActionStatusTypes.' + item.actionStatus.alternateName | translate}}</h5>
             <h5>
         <div *ngIf="item.studyProgramEnrollmentEvent.articles && item.studyProgramEnrollmentEvent.articles.length>0"
          [innerHTML] ="item.studyProgramEnrollmentEvent.articles[0].articleBody"
              [ngClass]="{'text-success': item.actionStatus.alternateName==='ActiveActionStatus','text-indigo': item.actionStatus.alternateName==='PotentialActionStatus'}"
          class="mt-3 text-secondary">
         </div>


        </h5>
        </h4>
      </div>
      <a [queryParams]="{code: item.code}"
        [routerLink]="['../', 'form', item.actionStatus.alternateName === 'PotentialActionStatus' ? 'apply' : 'view' ]"
        class="text-decoration-none" title="{{'OpenApplicationForm' | translate}}">
        <div class="card-body pb-1 pt-4">
          <div class="d-flex">
            <div class="w-100">
              <ng-container [ngSwitch]="item.actionStatus.alternateName">
                <i *ngSwitchCase="'CancelledActionStatus'" class="fas fa-file-invoice text-gray-200"
                  style="font-size: 8rem"></i>
                <i *ngSwitchDefault class="fas fa-file-invoice text-indigo" style="font-size: 8rem"></i>
              </ng-container>
            </div>
            <div class="flex-shrink-1 align-self-end d-none">
              <a [routerLink]="['../']" [translate]="'Open'" class="btn btn-lg btn-indigo text-lowercase"></a>
            </div>
          </div>
        </div>
        <div class="card-footer text-secondary">
          <span>
            <span [translate]="'CreatedAt'"></span>&nbsp;<span>{{item.dateCreated | date: 'short'}}</span>
          </span>
          <span class="ml-2">
            <span [translate]="'ModifiedAt'"></span>&nbsp;<span>{{item.dateModified | date: 'short'}}</span>
          </span>
        </div>
      </a>

    </div>
  </ng-container>

  <ng-container *ngIf="loading === false && items.length === 0">
    <ng-container [ngTemplateOutlet]="emptyTemplate"></ng-container>
  </ng-container>


</div>
